<h1>Search Spotify</h1>
<!--TODO: bind input's model to searchString-->
<input [(ngModel)]="searchString">
<!--TODO: bind select's model to searchCategory-->
<select [(ngModel)]="searchCategory">
	<option *ngFor="let category of searchCategories" [value]="category">{{category}}</option>
</select>
<!--TODO: Call search function when the button is clicked-->
<button class="btn btn-light" (click)="searchSongs()">Search</button>
<app-carousel *ngIf="searchCategory=='artist' || searchCategory=='album'" [carouselId]="searchCategory"
	[resources]="resources"></app-carousel>
<!--TODO: Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->
<!--TODO: Display a track-list component if searching for a track. Bind track-list's tracks.-->